.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--nj-semantic-size-spacing-12);
}
.modal{
}
.skeletonContainer{
  display: flex !important;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}
.list{
  width: 100%;
}
.row{
  display: flex;
  flex-direction: row;
  gap: var(--nj-semantic-size-spacing-12);
  flex-grow: 1;
  width: 100%;
  flex-wrap: wrap;
  align-items: start;
}