.errorMessage {
  color: var(--nj-semantic-color-background-status-danger-solid-default);
  font-size:var(--nj-semantic-size-font-heading-5);
  font-weight:var(--nj-semantic-font-weight-light);
  font-family: var(--nj-semantic-font-family-sans-serif);
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
}