.appTitle{
    font-size:var(--nj-semantic-size-font-heading-3);
    font-weight:var(--nj-semantic-font-weight-bold);
    font-family: var(--nj-semantic-font-family-sans-serif);
    text-align: center;
}
.appTitleSubTitle{
    font-size:var(--nj-semantic-size-font-heading-7);
    font-weight:var(--nj-semantic-font-weight-normal);
    font-family: var(--nj-semantic-font-family-sans-serif);
    text-align: center;
}