<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/1a2352ba-ed35-4b45-a9cd-f57f9b6a7c61/resourceGroups/reflecta-demo-rg/providers/Microsoft.Web/sites/app-reflectademo9</ResourceId>
    <ResourceGroup>reflecta-demo-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://app-reflectademo9.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0ff02c8c-d28e-48bd-bc92-6e97f7da93ee</ProjectGuid>
    <PublishUrl>https://app-reflectademo9.scm.azurewebsites.net/</PublishUrl>
    <UserName>$app-reflectademo9</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>