.spinnerContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--nj-semantic-size-spacing-12);
}
.modal button{
  display: none;
}