:global(#tab-separator) {
    flex-grow: 1;
}
.wrapper{
    background-color: var(--nj-semantic-color-background-neutral-secondary-default);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--nj-semantic-size-spacing-20);
    margin: var(--nj-semantic-size-spacing-48) 0;
    gap: var(--nj-semantic-size-spacing-20);
    max-width: 1024px;
    margin: auto;
    background-color: white;
    margin-bottom: var(--nj-semantic-size-spacing-64);
    box-shadow: var(--nj-semantic-elevation-shadow-2-dp);
}

.tabContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--nj-semantic-size-spacing-12) 0;
    gap: var(--nj-semantic-size-spacing-12);
}
.tabContentRI {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--nj-semantic-size-spacing-20) 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.disclaimer {
    background-color: #cfe2ff;
    font-size: 14px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid rgb(158, 197, 254);
    font-weight: 400;
    text-align: center;
    line-height: 20px;
}

.content {
    flex-direction: initial;
}

.header {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.contentWrapper {
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .175);
    border-radius: .375rem;
    padding: 1rem;
    position: relative;
}
.contentWrapper > button{
    position: absolute;
    top: 0;
    right: 0;
}
.techTabContent{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--nj-semantic-size-spacing-20) 0;
    gap: var(--nj-semantic-size-spacing-20);
}
div.fab{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.printOnly{
    display: none;
}
@media print{
    .noPrint{
        display: none !important;
    }
    .printOnly{
        display: block;
    }
    :global(.nj-sidebar_XG) {
        display: none !important;
    }
    :global(.nj-sidebar-content_Tw) {
        margin: 0 !important;
    }
    :global(.nj-tab__items_vu){
        display: none !important;
    }
    .container{
        max-width: none;
        box-shadow: none;
        gap: 10px;
    }
    :global(#root) > div:first-child > div:first-child{
        color: black !important;
    }

}
.filterTable{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.filterRow{
    display: table-row;
}
.filterCell{
    display: table-cell;
    padding: var(--nj-semantic-size-spacing-4) var(--nj-semantic-size-spacing-4);
}
.filterCell:first-child{
    width: 20%;
    font-weight: 600;
}
.filterCell > p{
    margin: 0;
}
.oxdot{
    font-family: monospace;
}