.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.layoutContent {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}
.layoutContent > div{
  height: 100%;
}